body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fffafc;
  color: #333;
}

header {
  text-align: center;
  padding: 30px;
  background-color: #ffe3f0;
}

header h1 {
  margin: 0;
  color: #cc0066;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.bag {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 220px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}
.bag img {
  width: 100%;
  border-radius: 10px;
}

.contact-btn {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #cc0066;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}
.contact-btn:hover {
  background-color: #a5004e;
}

footer {
  text-align: center;
  padding: 20px;
  background: #ffe3f0;
  font-size: 14px;
  margin-top: 30px;
}
.card-container { 
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    flex-wrap:wrap
}
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;

}

